body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2a2a;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    opacity: 0.5;
    animation: containerFloat 2s 3s ease-in-out forwards;
}

.base {
   height: 300px;
   width: 300px;
   background: #2a2a2a;
   mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000% / 99.5% 99.5%,
         linear-gradient(#0000 50%, #000 0);
  /* mask-composite: intersect; */
    -webkit-mask-composite: source-in;
    position: relative;
    overflow: hidden;
}

.base::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    background: white;
    animation: fillTriangular 3s ease-in-out forwards;
}

.text {
    font-size: 48px;
    font-weight: semibold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 15px;
    margin-top: 20px;
    opacity: 0;
    animation: textAppear 2s 3s ease-in-out forwards;
    font-family: 'Roboto', sans-serif;
}

.star {
    position: absolute;
    height: 150px;
    width: 150px;
    background: white;
    mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
    /* top: -120px;
    left: -120px; */
    transform: scale(0.5) rotate(0deg);
    animation: starMove 3s ease-in-out forwards;
}

@keyframes fillTriangular {
    0% {
        width: 0;
        height: 0;
        clip-path: polygon(0% 100%, 0% 100%, 0% 100%);
    }
    100% {
        width: 200%;
        height: 200%;
        clip-path: polygon(0% 100%, 0% 0%, 100% 100%);
    }
}

@keyframes starMove {
    0% {
        top: -40px;
        left: -30px;
        transform: scale(0.2) rotate(0deg);
    }
    100% {
        top: 0px;
        left: 75px;
        transform: scale(1) rotate(360deg);
    }
}

@keyframes containerFloat {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-50px);
        opacity: 1;
    }
}

@keyframes textAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

